<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- Define the product ID, name, version, and manufacturer -->
  <Product Id="*" Name="Boola POS System" Language="1033" Version="1.0.0.0" Manufacturer="Boola Systems"
           UpgradeCode="9c0c9c9c-1111-2222-3333-9c0c9c9c9c9c">
    
    <!-- Define the package details -->
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    
    <!-- Enable compression of the installer -->
    <Media Id="1" Cabinet="BoolaPOS.cab" EmbedCab="yes" />
    
    <!-- Define the major upgrade behavior -->
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    
    <!-- Define installation directory structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- Program Files Folder -->
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ManufacturerFolder" Name="Boola Systems">
          <Directory Id="INSTALLFOLDER" Name="Boola POS">
            <!-- Main application files directory -->
            <Component Id="MainExecutable" Guid="*">
              <File Id="BoolaPOSEXE" Source="$(var.BoolaPOS.TargetPath)" KeyPath="yes" />
            </Component>
            
            <!-- Database file -->
            <Component Id="DatabaseFile" Guid="*">
              <File Id="DBFile" Source="$(var.BoolaPOS.ProjectDir)StockInventory.db" KeyPath="yes" />
            </Component>

            <!-- Application dependencies will be harvested from the build output -->
          </Directory>
        </Directory>
      </Directory>
      
      <!-- Desktop Shortcut -->
      <Directory Id="DesktopFolder" Name="Desktop">
        <Component Id="DesktopShortcut" Guid="*">
          <Shortcut Id="AppDesktopShortcut" 
                    Name="Boola POS" 
                    Description="Boola Point of Sale System"
                    Target="[#BoolaPOSEXE]"
                    WorkingDirectory="INSTALLFOLDER" />
          <RemoveFolder Id="DesktopFolder" On="uninstall" />
          <RegistryValue Root="HKCU" Key="Software\BoolaSystems\BoolaPOS" 
                         Name="installed" Type="integer" Value="1" KeyPath="yes" />
        </Component>
      </Directory>
      
      <!-- Start Menu Shortcuts -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Boola POS">
          <Component Id="StartMenuShortcuts" Guid="*">
            <Shortcut Id="AppStartMenuShortcut" 
                      Name="Boola POS" 
                      Description="Boola Point of Sale System"
                      Target="[#BoolaPOSEXE]"
                      WorkingDirectory="INSTALLFOLDER" />
            <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\BoolaSystems\BoolaPOS" 
                           Name="installed" Type="integer" Value="1" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
    
    <!-- Define the features to install -->
    <Feature Id="ProductFeature" Title="Boola POS System" Level="1">
      <ComponentRef Id="MainExecutable" />
      <ComponentRef Id="DatabaseFile" />
      <ComponentRef Id="DesktopShortcut" />
      <ComponentRef Id="StartMenuShortcuts" />
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <!-- Define the UI -->
    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    
    <!-- Define the license file (optional) -->
    <!-- <WixVariable Id="WixUILicenseRtf" Value="License.rtf" /> -->
    
    <!-- Define the banner and dialog images (optional) -->
    <!-- <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" /> -->
    <!-- <WixVariable Id="WixUIDialogBmp" Value="dialog.bmp" /> -->
  </Product>

  <!-- Define the component group for all the necessary files -->
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- Add component references here -->
      
      <!-- DLLs and other files will be added here during the build -->
      <!-- These would typically be gathered using heat.exe, a part of WiX -->
    </ComponentGroup>
  </Fragment>
</Wix>
